//old colorset

$primary-back-color:#3B3A3F;
$primary-color: #7B5EFA;
$highlight-color: #14B1E0;
$low-light-color:#28557A;
$accent-color: #6888BA;

//pastel color set

$pastel-pink: #F4BCFA;
$pastel-purple: #9BB2E0;
$primary-blue: #01AFF5;
$broken-white: #ebe5ee;
$neutral-beige: #FAD6BD;