@import 'variables';

.floating-menu {
    background-color: $pastel-pink;

    .offcanvas {
        position: fixed;
        top: 0;
        left:-300px;
        width: 300px;
        height: 100%;
        background-color: #fff;
        transition: left 0.3s ease-in-out;
    }

    .offcanvas.active {
        left: 0; /* Slide in the menu when scrolled */
      }
}