.namesection {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 50vh; 

    .picture-frame {
    
        
        picture {
            display: flex;
            justify-content: flex-end;
            img {
                border-radius: 9999px;
                border-width: 10px;
                border: solid black 4px;
                width: 55%;
                //height: 75%;
                box-shadow: 10px 10px 10px;
            }
        } 
    }

    .name {
        display: flex;
        justify-content: start;
    }
}

.iconSkillSection {
    padding-top:25px;
    padding-bottom:25px;

    .skilldiv {

        img {
            max-width: 45%;
            max-height: 45%;
            border: solid grey;
            padding:5px;
            border-radius: 15%;
            box-shadow: 5px 5px 5px;

        }
    }
}

.SkillSection {

    .rating {
        display: flex;
        justify-content: space-between;
    }
    
    .progress-div {
        padding-top:10px;
        padding-bottom:10px;
    
        .bg-progress {
            background-color: white;
            border: solid grey 3px;
            box-shadow: 5px 5px 5px;
            .bg-Python {
                background-color:#57a0f7;
            }
            .bg-CSharp {
                background-color:#ae92e1;
            }
            .bg-Javascript {
                background-color: yellow;
            }
            .bg-HTMLCSS {
                background-color: #fb714a;
            }
            .bg-SQL {
                background-color: darkblue;
            }
            .bg-PHP {
                background-color: #9791cb;
            }

        }

       
    }
}