@import 'variables';

.namesection {

    display: flex;
    //justify-content: center; 
    //align-items: center; 
    flex-direction: column;
    height: 100vh; 

    .name-and-picture {
        padding-top: 5%;

        .picture-frame {
    
            picture {
                display: flex;
                justify-content: flex-end;
                img {
                    border-radius: 9999px;
                    border-width: 10px;
                    border: solid black 4px;
                    width: 55%;
                    //height: 75%;
                    box-shadow: 10px 10px 10px;
                }
            } 
        }
    
        .name {
            display: flex;
            justify-content: start;
            //font-family: $font-cherry;
        }
    }

    .carousel {
        padding-top:5%;

        .carousel-control-prev {
            color: black;
        }

        .carousel-item {
            padding-left:90px;
            padding-right:90px;
        }

        .carousel-content {
            //height: 50%; 
            padding: 50px;
        }
    }
}

//timeline section
.py-5 {
    //background-color: $neutral-beige;
    display: flex;
    justify-content: center; 
    align-items: center; 
    display: flex;
    flex-direction: column;
    height: 100vh;

    .horizontal-timeline {
        display: flex;
        .timeline-item {
            //display: flex;
        }
    
    }

}

.iconSkillSection {
    display: flex;
    justify-content: center; 
    align-items: center; 
    display: flex;
    flex-direction: column;
    height: 100vh; 

    padding-top:25px;
    padding-bottom:25px;

    .skilldiv {

        img {
            max-width: 45%;
            max-height: 45%;
            border: solid grey;
            padding:5px;
            border-radius: 15%;
            box-shadow: 5px 5px 5px;

        }
    }
}

.SkillSection {

    // display: flex;
    // justify-content: center; 
    // align-items: center; 
    // display: flex;
    // flex-direction: column;
    // height: 100vh; 

    .rating {
        display: flex;
        justify-content: space-between;
    }
    
    .progress-div {
        padding-top:10px;
        padding-bottom:10px;
    
        .bg-progress {
            background-color: white;
            border: solid grey 3px;
            box-shadow: 5px 5px 5px;
            .bg-Python {
                background-color:#57a0f7;
            }
            .bg-CSharp {
                background-color:#ae92e1;
            }
            .bg-Javascript {
                background-color: yellow;
            }
            .bg-HTMLCSS {
                background-color: #fb714a;
            }
            .bg-SQL {
                background-color: darkblue;
            }
            .bg-PHP {
                background-color: #9791cb;
            }

        }

       
    }
}

.project-section {
    display: flex;
    justify-content: center; 
    align-items: center; 
    display: flex;
    flex-direction: column;
    height: 100vh; 
}